<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>昊富资产</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.css" />
    <link rel="stylesheet" href="../../public/library/bootstrap-3.3.7/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/library/font-awesome-4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" href="../../public/style/common.css">
    <link rel="stylesheet" href="../../public/style/style.css">
</head>
<body>
<div class="header">
    <div class="row">
        <div class="col-xs-12 index-bar">
            <div class="row">
                <div class="col-xs-2  col-md-2 col-lg-3 text-right">
                    <a href="" class="com-logo"><img src="../../public/images/index/logo.png" alt=""></a>
                </div>
                <div class="col-xs-6  col-md-7 col-lg-6 nav">
                    <ul class="clearfix nav-list">
                        <li ><a href="#">首页</a></li>
                        <li>
                            <a href="#">投资者服务</a>
                            <div class="nav-son">
                                <a href="#">股权项目</a>
                                <a href="#">关于我们</a>
                                <a href="#">新三板开户</a>
                                <a href="#">投资助手</a>
                            </div>
                        </li>
                        <li>
                            <a href="#">昊富资讯</a>
                            <div class="nav-son">
                                <a href="#">三板动态</a>
                                <a href="#">财经资讯</a>
                                <a href="#">政策法规</a>
                            </div>
                        </li>
                        <li>
                            <a href="#">投资学堂</a>
                            <div class="nav-son">
                                <a href="#">三板知识</a>
                                <a href="#">投资流程</a>
                                <a href="#">案例分享</a>
                            </div>
                        </li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
                <div class="col-xs-4  col-md-3 col-lg-3 contract-way">
                    <span class="hot-tel">客服热线：<i>100-1234-2309</i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-area">
    <a href="#"><img src="../../public/images/00.jpg" alt=""></a>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 breadcrumb-area">
            <span class="breadcrumb-txt">当前位置：</span>
            <ol class="breadcrumb">
                <li><a href="#">昊富资讯</a></li>
                <li><a href="#">财经资讯</a></li>
            </ol>
        </div>
    </div>
    <div class="row financeInfo-area">
        <div class="col-xs-12 col-md-8 ">
            <div class="info-tit">财经资讯</div>
            <div class="info-content"></div>
        </div>
        <div class="col-xs-12 col-md-4 ">
            <div class="info-tit">热门资讯</div>
            <div class="news-list"></div>
        </div>
        <div class="col-xs-12 text-center">
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1</a></li>
                <li class="disabled"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row footer-content">
            <div class="col-xs-2 col-xs-offset-1 text-center">
                <dl>
                    <dt>投资者服务</dt>
                    <dd><a href="#">股权项目</a></dd>
                    <dd><a href="#">关于我们</a></dd>
                    <dd><a href="#">新三板开户</a></dd>
                    <dd><a href="#">投资助手</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>昊富资讯</dt>
                    <dd><a href="#">三板动态</a></dd>
                    <dd><a href="#">财经资讯</a></dd>
                    <dd><a href="#">政策法规</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>投资学堂</dt>
                    <dd><a href="#">三板知识</a></dd>
                    <dd><a href="#">投资流程</a></dd>
                    <dd><a href="#">案例分享</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>友情链接</dt>
                    <dd><a href="#">百度</a></dd>
                    <dd><a href="#">新浪</a></dd>
                    <dd><a href="#">网易</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <div class="wx-img">
                    <img src="" alt="">
                    <span>微信公众号</span>
                </div>

            </div>
        </div>
    </div>
    <p class="copyright">©2017 浙江昊富资产管理有限公司 版权所有</p>
</div>
<script id="financeInfoList-area" type="text/template">
    <% for(var i=0;i<data.length;i++){ %>
    <div class="item-module">
        <a href="#" class="item-img"><img src='<%= data[i].url %>' alt=""></a>
        <div class="item-info">
            <h6 class="item-info-name"><%= data[i].name %></h6>
            <i class="item-info-time"><%= data[i].time %></i>
            <div class="item-info-content"><%= data[i].content %></div>
            <a href="#" class="learn-more">learn more <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <% } %>
</script>
<script id="financeNewsList" type="text/template">
    <ul>
        <% for(var i=0;i<data.length;i++){ %>
        <li><a href="#"><span class="num"><%= i+1 %></span><%= data[i].title %></a>
            <span class="info-time"><%= data[i].time %></span>
        </li>
        <% }%>
    </ul>
</script>
<script src="../../public/library/jquery/jquery-3.2.1.min.js"></script>
<script src="../../public/library/ejs/ejs.min.js"></script>
<script src="../../public/library/jquery/jquery.easing.1.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.5/jquery.fullpage.js"></script>
<script src="../../public/library/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
<script src="../../public/scripts/common.js"></script>
<script src="../../public/scripts/investInfo/newsList.js"></script>
<script src="../../public/scripts/investInfo/financeInfo.js"></script>
</body>
</html>
