<div class="footer">
    <div class="container">
        <div class="row footer-content">
            <div class="col-xs-2 col-xs-offset-1 text-center">
                <dl>
                    <dt>投资者服务</dt>
                    <dd><a href="#">股权项目</a></dd>
                    <dd><a href="#">关于我们</a></dd>
                    <dd><a href="#">新三板开户</a></dd>
                    <dd><a href="#">投资助手</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>昊富资讯</dt>
                    <dd><a href="#">三板动态</a></dd>
                    <dd><a href="#">财经资讯</a></dd>
                    <dd><a href="#">政策法规</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>投资学堂</dt>
                    <dd><a href="#">三板知识</a></dd>
                    <dd><a href="#">投资流程</a></dd>
                    <dd><a href="#">案例分享</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <dl>
                    <dt>友情链接</dt>
                    <dd><a href="#">百度</a></dd>
                    <dd><a href="#">新浪</a></dd>
                    <dd><a href="#">网易</a></dd>
                </dl>
            </div>
            <div class="col-xs-2 text-center">
                <div class="wx-img">
                    <img src="" alt="">
                    <span>微信公众号</span>
                </div>

            </div>
        </div>
    </div>
    <p class="copyright">©2017 浙江昊富资产管理有限公司 版权所有</p>
</div>
