
<div class="row">
    <div class="col-xs-12 index-bar">
        <div class="row">
            <div class="col-xs-2  col-md-2 col-lg-3 text-right">
                <a href="" class="com-logo"><img src="../public/images/index/logo.png" alt=""></a>
            </div>
            <div class="col-xs-6  col-md-7 col-lg-6 nav">
                <ul class="clearfix nav-list">
                    <li ><a href="#">首页</a></li>
                    <li>
                        <a href="#">投资者服务</a>
                        <div class="nav-son">
                            <a href="#">股权项目</a>
                            <a href="#">关于我们</a>
                            <a href="#">新三板开户</a>
                            <a href="#">投资助手</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">昊富资讯</a>
                        <div class="nav-son">
                            <a href="#">三板动态</a>
                            <a href="#">财经资讯</a>
                            <a href="#">政策法规</a>
                        </div>
                    </li>
                    <li>
                        <a href="#">投资学堂</a>
                        <div class="nav-son">
                            <a href="#">三板知识</a>
                            <a href="#">投资流程</a>
                            <a href="#">案例分享</a>
                        </div>
                    </li>
                    <li><a href="#">联系我们</a></li>
                </ul>
            </div>
            <div class="col-xs-4  col-md-3 col-lg-3 contract-way">
                <span class="hot-tel">客服热线：<i>100-1234-2309</i></span>
            </div>
        </div>
    </div>
</div>
